* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#f5f5dc;
}

.container {

    display: flex;
    margin: auto;
    width : 70%;
    border: 0.3rem solid black;
    margin-top: 10% ;
    flex-flow: column nowrap;
    background-color: #8A72A3;
}

#tituloPrincipal {
    margin: 5% 0;
    font-size: 3.3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #F0F0D8;
}

#saldo {

    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F0F0D8;
}

